{% extends 'base.html' %}
{% block content %} 
<div class="max-w-sm mx-auto mt-8 p-4 text-center">
    {% if form.errors %}
    <p class="mb-4 text-red-500">Your username and password didn't match. Please try again!</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p class="mb-4 text-red-500">Your account doesn't have access to this page. 
    To proceed, please log in with an account that has access.</p>
    {% else %}
    <p class="mb-4">Please log in to see this page.</p>
    {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="flex space-x-2  flex-wrap mb-4 ">
            <label for="{{ form.username.id_for_label }}" class=" text-left  ">{{ form.username.label_tag }}</label>
            {{ form.username }}
        </div>
        <div class=" flex flex-wrap space-x-2 mb-4">
            <label for="{{ form.password.id_for_label }}" class="text-left  ">{{ form.password.label_tag }}</label>

            {{ form.password }}
        </div>

      
        <div class="text-center">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg w-full max-w-[150px]">
                Log in
            </button>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    <p class="mt-4">
        <a href="{% url 'signup' %}" class="text-blue-500">Sign up</a> | 
        <a href="{% url 'password_reset' %}" class="text-blue-500">Forgot password?</a>
    </p>
</div>
{% endblock %}
